<div class="bg login-field" style="">
    <div class="container login-card" style="text-align:center;max-width:480px;margin:0 auto">
        <h3>Doctor's Portal</h3>
        <form style="padding-top:2rem;">
            <div class="form-group">
                <input type="email" class="form-control" id="user" aria-describedby="emailHelp" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pass" placeholder="Password">
            </div>
            <div class="form-group" style="text-align:left">
                <a href="#/forgot" class="my-links" style="flex-grow:1;font-size:14px;">Forgot password?</a></br>
                <a href="#/reg" class="my-links" style="flex-grow:1;font-size:14px;">Register here</a>
            </div>
            <button type="submit" class="btn btn-primary my-btn" style="width:100%;" ng-click="loginAccount()">Submit</button>
        </form>
    </div>
</div>