<div class="bg login-field" style="">
    <div class="container login-card" style="text-align:center;max-width:480px;margin:0 auto">
        <h3>Patient's Portal</h3>
        <form style="padding-top:2rem;">
            <div class="form-group">
                <input type="number" class="form-control" id="aadharNumber" aria-describedby="emailHelp" placeholder="Aadhar Number">
            </div>
            <button type="submit" class="btn btn-primary my-btn" style="width:100%;" ng-click="patientLogin()">Submit</button>
        </form>
    </div>
</div>